{% extends "main/layout.html" %}

{% if user %}
    {% block right %}
    <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
            <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapase navbar-collapse" id="collapse_target">
        <ul class="navbar-nav">
            <li class="nav-item"><a href="{% url 'dashboard' %}" class="badge badge-light"> {{ user.username }} </a></li>
            <li class="nav-item"><a href="{% url 'logout' %}" class="badge badge-light">Logout</a></li>
        </ul>
    </div>
    {% endblock %}
{% endif %}
{% block body %}
<div class="container-fluid text-center">
    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Welcome to buxchange</h1>
                <p class="lead text-muted">Buy and sell books from other students using Buxchange</p>
                <p class="lead text-muted">Give books away.Get books you want</p>
                <p>
                <a href="{% url 'findBooks' %}" class="btn btn-secondary my-2">Find Books</a>
                <a href="{% url 'upload' %}" class="btn btn-secondary my-2">Upload Books</a>
                </p>
            </div>
        </section>
    </main>
</div>
{% endblock %}