{% extends "main/layout.html" %}

{% if user %}
    {% block right %}
    <a href="{% url 'dashboard' %}" class="badge badge-light"> {{ user.username }} </a>
    <a href="{% url 'logout' %}" class="badge badge-light">Logout</a>
    {% endblock %}
{% endif %}
{% block body %}
<div class="container-fluid text-center">
    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Upload Books</h1>

                <!-- {% if form.errors %}
                <p>There is something with what you entered</p>
                {% endif %}

                {% if next %}
                <p>You can't access</p>
                {% endif %}

                <form method="post" action="{% url 'upload' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}

                    <input type="submit" value="upload">
                    <input type="hidden" name="next" value="{{ next }}" />
                </form> -->
                

                <form role="form" class="form-horizontal" method="post" action="{% url 'upload' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                            <div class="form-group">
                                    <div class="input-group">
                                        {{ form.branch_name }}
                                        {% if form.branch_name.errors %}
                                            <div class="alert alert-dark" role="alert">
                                               {{ form.branch_name.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <br>
                                    <div class="input-group">
                                       {{ form.semester }}
                                       {% if form.semester.errors %}
                                            <div class="alert alert-dark" role="alert">
                                               {{ form.semester.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <br>
                                    <div class="input-group">
                                        {{ form.name }}
                                        {% if form.name.errors %}
                                        <div class="alert alert-dark" role="alert">
                                            {{ form.name.errors }}
                                        </div>
                                        {% endif %}
                                    </div>
                                    <br>
                                    <div class="input-group">
                                        {{ form.image }}
                                        {% if form.image.errors %}
                                            <div class="alert alert-dark" role="alert">
                                                {{ form.image.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                 <br>   
                                <input type="submit" class="btn btn-secondary" value="Upload" />
                                <input type="hidden" name="next" value="{{ next }}" />
                            </div>
                </form>
            </div>
        </section>
    </main>
</div>
{% endblock %}